@model IEnumerable<MvcNetCoreAWSPostgresEC2.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create"
       asp-controller="Departamentos"
       class="btn btn-success">
        Create New
    </a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                <a asp-action="Details" 
                    asp-controller="Departamentos"
                    asp-route-id="@item.IdDepartamento"
                    class="btn btn-info">
                    Details
                </a>
                <a asp-action="Edit" asp-route-id="@item.IdDepartamento" class="btn btn-warning">Editar</a>
                <form asp-action="Delete" asp-route-id="@item.IdDepartamento" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este departamento?');">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
